*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

:root {
  --mobile: 1;
  --no_mobile: calc(1 - var(--mobile));

  --fixed_to_relative: fixed;

  --block_mobile_d: block;
  --grid_desktop_d: none;

  --primary_font: 'Roboto Slab', serif;;
  --secondary_font: 'Roboto', sans-serif;;

  --primary_color: #c90000;
  --secondary_color: #313131;
  --light_gray_color: #b8b8b8;
  --dark_gray_color: #555555;
  --background_color: #ffffff;

  --lateral: 0.5rem;
  --vertical: 1rem;

  --header_lists_columns: 1fr;
  --header_content_columns: 1fr max-content;
  --header_vertical: calc(var(--vertical) * 0.3);

  --header_menu_separator_d: none;

  --advertise_lg_top: calc(2.3rem + 1rem + var(--vertical) * 2 + var(--header_vertical) * 2);
  --adversise_full_to_mid_width: calc(100% - var(--lateral) * 2);

  --stick_list_grid_direction: row;
}

@media (min-width: 320px) {
  :root {
  }
}

@media (min-width: 768px) {
  :root {
    --mobile: 0;

    --fixed_to_relative: relative;

    --block_mobile_d: none;
    --grid_desktop_d: grid;

    
    --header_lists_columns: max-content max-content;
    --header_content_columns: 1fr 1fr;
    
    --header_menu_separator_d: inline-block;
    
    --advertise_lg_top: calc(var(--header_vertical) + var(--vertical) + 1.5rem);
    --adversise_full_to_mid_width: 50%;

    --stick_list_grid_direction: column;
  }
}

@media (min-width: 1024px) {
  :root {
  }
}

@media (min-width: 1440px) {
  :root {
  }
}

@media (min-width: 1920px) {
  :root {
  }
}

html, body {
  background-color: var(--background_color);
  font-size: 16px;
  font-family: var(--secondary_font);
}

h1, h2, h3, h4, h5 {
  font-family: var(--primary_font);
}

a {
  text-decoration: none;
}

button {
  background: none;
}

.header {
  display: grid;
  row-gap: 1.5rem;
  padding: calc(var(--header_vertical) * var(--no_mobile)) var(--lateral) calc(var(--vertical) * var(--no_mobile)) var(--lateral);
}

.header__lists {
  display: var(--grid_desktop_d);
  grid-template-columns: var(--header_lists_columns);
  justify-content: space-between;

  position: var(--fixed_to_relative);
  top: 0;
  left: 0;
  width: 100%;
}

.header__content {
  display: grid;
  grid-template-columns: var(--header_content_columns);
  justify-content: space-between;
  row-gap: 1.5rem;

  position: fixed;
  top: calc(var(--advertise_lg_top) * var(--no_mobile));
  left: 0;
  width: 100%;
  padding: var(--vertical) var(--lateral);

  background-color: var(--background_color);
}

.header__hidde .header__content {
  top: 0;
  z-index: 1000;
}

.header__title a{
  font-size: 2.3rem;
  color: var(--secondary_color);
}

.header__description a {
  font-size: 1rem;
  color: var(--primary_color);
  font-weight: bold;
  padding-left: 0.8rem;
}

.header__button {
  display: var(--block_mobile_d);
  cursor: pointer;
  width: 1.5rem;
}

.stick__list {
  display: grid;
  grid-auto-flow: var(--stick_list_grid_direction);
  list-style-type: none;
  grid-auto-columns: max-content;
}

.stick__text {
  margin-right: calc(1rem * var(--no_mobile));
  font-weight: bold;
}

.stick__list__element a {
  color: var(--primary_color);
  font-weight: bold;
}

.stick__list__element:not(:last-child)::after {
  content: '|';
  display: var(--header_menu_separator_d);
  margin: 0 var(--lateral);
  color: var(--secondary_color);
}

.advertise {
  background-color: var(--light_gray_color);
  color: var(--dark_gray_color);
  border: solid var(--dark_gray_color) 0.15rem;
  font-weight: bold;
  font-size: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.advertise--lg {
  width: var(--adversise_full_to_mid_width);
  height: 70px;

  position: absolute;
  top: var(--advertise_lg_top);
  right: var(--lateral);
}

.tag__list__box {
  background-color: var(--secondary_color);
  max-width: 100vw;
  overflow-x: auto;
  margin-top: calc(var(--advertise_lg_top) + 70px - (1rem * var(--no_mobile)) + (var(--vertical) * var(--mobile)));
}

.tag__list {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2.5rem;
  list-style-type: none;
  min-width: max-content;
  max-width: 50%;
  padding: 0.5rem var(--lateral);
}

.tag__list__element a {
  color: var(--background_color);
}
