*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

@font-face {
  font-family: 'Roboto Slab', serif;
  src: url('./../fonts/roboto_slab/RobotoSlab-Bold.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./../fonts/roboto/Roboto-Regular.ttf);
}

:root {
  --font_size: 14px;

  --max_width: 100%;

  --mobile: 1;
  --no_mobile: calc(1 - var(--mobile));

  --fixed_to_relative: fixed;

  --block_mobile_d: block;
  --grid_desktop_d: none;

  --primary_font: 'Roboto Slab', serif;
  --secondary_font: 'Roboto', sans-serif;

  --primary_color: #c90000;
  --secondary_color: #313131;
  --light_gray_color: #cccccc;
  --dark_gray_color: #505050;
  --background_color: #ffffff;
  --primary_to_transparent_color: var(--primary_color);
  --background_to_primary_color: var(--background_color);

  --lateral: 0.5rem;
  --vertical: 1rem;

  --header_zindex: 1000;
  --header_lists_zindex: calc(var(--header_zindex) + 1);
  --header_lists_columns: 1fr;
  --header_content_columns: 1fr max-content;
  --header_vertical: calc(var(--vertical) * 0.3);

  --header_menu_separator_d: none;

  --advertise_lg_top: calc(2.3rem + 1rem + var(--vertical) * 2 + var(--header_vertical) * 2);
  --adversise_full_to_mid_width: calc(100% - var(--lateral) * 2);

  --stick_list_grid_direction: row;
  --stick_list_columns: 1fr;

  --main_columns: 1fr;

  --center_to_left: center;
  --full_to_maxcontent: 100%;
  
  --wrapper_lateral: 1rem;
  --wrapper_columns: 1fr;

  --post_add_form_width: 90%;
}

@media (min-width: 320px) {
  :root {
  }
}

@media (min-width: 768px) {
  :root {
    --font_size: 16px;

    --mobile: 0;

    --fixed_to_relative: relative;

    --block_mobile_d: none;
    --grid_desktop_d: grid;

    --primary_to_transparent_color: transparent;
    --background_to_primary_color: var(--primary_color);
    
    --header_lists_columns: max-content max-content;
    --header_content_columns: max-content 1fr;

    --header_lists_zindex: calc(var(--header_zindex) - 1);
    
    --header_menu_separator_d: inline-block;
    
    --advertise_lg_top: calc(var(--header_vertical) + var(--vertical) + 1.5rem);
    --adversise_full_to_mid_width: 50%;

    --stick_list_grid_direction: column;
    --stick_list_columns: max-content;

    --main_columns: 1fr 1fr;

    --center_to_left: left;
    --full_to_maxcontent: max-content;

    --wrapper_columns: 5fr 1fr;

    --post_add_form_width: 60%;
  }
}

@media (min-width: 1024px) {
  :root {
    --wrapper_lateral: 2rem;
  }
}

@media (min-width: 1440px) {
  :root {
  }
}

@media (min-width: 1920px) {
  :root {
    --max_width: 1920px;
  }
}

html, body {
  background-color: var(--background_color);
  font-size: var(--font_size);
  font-family: var(--secondary_font);
  max-width: var(--max_width);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: var(--primary_font);
}

a {
  text-decoration: none;
}

button {
  background: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

textarea {
  resize: vertical;
  max-height: 30vh;
}

[class*='__loading'] {
  background: rgb(177,177,177);
  background: linear-gradient(90deg, rgba(177,177,177,1) 0%, rgb(122, 122, 122) 100%);
  background-size: 200% 100%;
  animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading {
  0% { background-position: 0% 0% }
  100% { background-position: 100% 0% }
}

/*------------------------------ .header --------------------------*/
.header {
  display: grid;
  row-gap: 1.5rem;
  padding: calc(var(--header_vertical) * var(--no_mobile)) var(--lateral) calc(var(--vertical) * var(--no_mobile)) var(--lateral);
}

.header__lists {
  display: var(--grid_desktop_d);
  grid-template-columns: var(--header_lists_columns);
  justify-content: space-between;

  position: var(--fixed_to_relative);
  top: 0;
  left: 0;
  width: 100%;
}

.header__lists.header__lists__open {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2rem;

  z-index: var(--header_lists_zindex);
  top: calc((2rem + 1rem + var(--header_vertical) * 2) * var(--mobile));
  background-color: var(--background_color);
  padding: calc(var(--vertical) * var(--mobile)) calc(var(--lateral) * var(--mobile));
  min-height: calc(100vh * var(--mobile));
}

.header__content {
  display: grid;
  grid-template-columns: var(--header_content_columns);
  justify-content: space-between;
  row-gap: 1.5rem;
  align-items: start;

  position: fixed;
  top: calc(var(--advertise_lg_top) * var(--no_mobile));
  left: calc(100% - var(--max_width));
  width: 100%;
  padding: var(--header_vertical) var(--lateral);

  background-color: var(--background_color);

  transform: translateX(calc((100% - var(--max_width)) / -2));

  max-width: var(--max_width);
}

.header__logo {
  min-width: max-content;
}

.header__hidde .header__content {
  top: 0;
  z-index: var(--header_zindex);
}

.header__title {
  font-size: 2rem;
  line-height: 1;
}
.header__title a {
  color: var(--secondary_color);
}

.header__description a {
  font-size: 1rem;
  color: var(--primary_color);
  font-weight: bold;
  padding-left: 0.8rem;
}

.header__button {
  display: var(--block_mobile_d);
  cursor: pointer;
  width: 1.5rem;
  margin-top: calc(2rem * 0.3);
}

/*------------------------------ .stick__list --------------------------*/
.stick__list {
  display: grid;
  grid-auto-flow: var(--stick_list_grid_direction);
  list-style-type: none;
  grid-auto-columns: var(--stick_list_columns);
  row-gap: 1rem;
  font-size: 0.8rem;
}

.stick__text {
  margin-right: calc(1rem * var(--no_mobile));
  font-weight: bold;
}

.stick__list__element {
  padding: calc(0.5rem * var(--mobile)) calc(1rem * var(--mobile));
  cursor: pointer;
}

.stick__list__element:hover {
  background-color: var(--primary_to_transparent_color);
}

.stick__list__element:hover a {
  color: var(--background_to_primary_color);
}

.stick__list__element a {
  color: var(--primary_color);
  font-weight: bold;
  text-transform: uppercase;
}

.stick__list__element:not(:last-child)::after {
  content: '|';
  display: var(--header_menu_separator_d);
  margin: 0 var(--lateral);
  color: var(--secondary_color);
}

/*------------------------------ .advertise --------------------------*/
.advertise {
  background-color: var(--light_gray_color);
  color: var(--dark_gray_color);
  border: solid var(--dark_gray_color) 0.15rem;
  font-weight: bold;
  font-size: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.advertise--lg {
  width: var(--adversise_full_to_mid_width);
  height: 70px;

  position: absolute;
  top: var(--advertise_lg_top);
  left: calc((50vw - (var(--max_width) - var(--max_width))) * var(--no_mobile) + (var(--mobile) * var(--lateral)));
  transform: translateX(calc((var(--max_width) - var(--max_width)) / 2 - (var(--lateral) * var(--no_mobile))));

  max-width: calc(var(--max_width) / 2 + (var(--max_width) * var(--mobile)));
}

.advertise--sm {
  width: 125px;
  height: 125px;
  border-style: dashed;
  border-width: 0.1rem;
}
.advertise--sm spam {
  line-height: 1.5;
}
.advertise--sm spam:last-child {
  font-size: 1.5rem;
  font-weight: bold;
}

/*------------------------------ .tag__list --------------------------*/
.tag__list__box {
  background-color: var(--secondary_color);
  max-width: 100vw;
  overflow-x: auto;
  margin-top: calc(var(--advertise_lg_top) + 70px - (1rem * var(--no_mobile)) + (var(--vertical) * var(--mobile)));
}

.tag__list {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2.5rem;
  list-style-type: none;
  min-width: max-content;
  max-width: 50%;
  padding: 0.5rem var(--lateral);
}

.tag__list__element a {
  color: var(--background_color);
}
.tag__list__element:hover a {
  color: var(--primary_color);
}

/*------------------------------ .main --------------------------*/
.main {
  display: grid;
  grid-template-columns: var(--main_columns);
  gap: 4rem 1rem;
  padding: var(--vertical) var(--wrapper_lateral);
  grid-auto-rows: max-content;
}
.main--single {
  grid-template-columns: 1fr;
  gap: 3rem 1rem;
}

/*------------------------------ .post --------------------------*/
.post {
  display: grid;
  row-gap: 0.8rem;
}
.post--delete {
  border: dashed #c90000 0.2rem;
}
.post--delete * {
  transition: opacity 1s;
  opacity: 0;
}

.post--add {
  border: dashed #26a10e 0.2rem;
}

.post__img {
  width: 100%;
  aspect-ratio: 21 / 9;
}

.post__title {
  font-size: 1.4rem;
  hyphens: manual;
  word-break: break-all;
}
[class='post'] .post__title, [class='post post--delete'] .post__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__title__loading {
  min-height: 3rem;
  width: 80%;
}

.post__info {
  font-size: 0.9rem;
  color: var(--dark_gray_color);
  hyphens: manual;
  word-break: break-all;
}

.post__info__loading {
  min-height: 1.8rem;
  width: 60%;
}

.post__excerpt {
  font-size: 1.1rem;
  hyphens: manual;
  word-break: break-all;
}
[class='post'] .post__excerpt, [class='post post--delete'] .post__excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__excerpt__loading {
  min-height: 8rem;
}

.post__link {
  width: var(--full_to_maxcontent);
  padding: 0.5rem 1rem;
  background-color: var(--primary_color);
  color: var(--background_color);
  font-size: 1.1rem;
  font-weight: bold;
  text-align: var(--center_to_left);
  margin-top: auto;
}

.post__link__loading {
  min-height: 2.2rem;
  width: 40%;
}

.post__button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--background_color);
  margin-top: auto;
}
.post__button--delete {
  background: #ff6c17;
}
.post__button--add {
  background: #26a10e;
  position: fixed;
  bottom: var(--vertical);
  padding: 1rem 2rem;
  width: calc(var(--max_width) - var(--lateral) * 2);
  transform: translateX(var(--lateral));
}
.post__button--hidde {
  opacity: 0;
  pointer-events: none;
}
.post__button--form {
  background: #26a10e;
  width: 100%;
}

.post__add__form__box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  background-color: #3333335b;

  display: flex;
  align-items: center;
  justify-content: center;
}
.post__add__form__box--show {
  transition: 0.5s;
  pointer-events: all;
  opacity: 1;
}

.post__add__form {
  display: grid;
  row-gap: 1rem;
  width: var(--post_add_form_width);
  position: relative;
}
.post__add__input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: var(--secondary_font);
}
.post__add__form__close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--primary_color);
  line-height: 1;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  color: var(--background_color);
  border-radius: 50%;
  transform: translate(50%, -150%);
  cursor: pointer;
}

/*------------------------------ .wrapper --------------------------*/
.wrapper {
  display: grid;
  column-gap: var(--wrapper_lateral);
  grid-template-columns: var(--wrapper_columns);
  grid-auto-rows: max-content;
  align-items: start;
}

/*------------------------------ .aside --------------------------*/
.aside {
  display: grid;
  row-gap: 1rem;
  grid-auto-rows: max-content;
  box-shadow: -0.3rem 0 0.6rem -0.5rem var(--dark_gray_color);
}

.aside__advertise {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.5rem;
  padding: var(--vertical) 1rem 0 1rem;
  margin: 0 auto;
}

.aside__search {
  background-color: var(--light_gray_color);
  padding: var(--vertical) 1rem;
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.2rem;
  grid-template-columns: 1fr max-content;
}
.aside__search label {
  display: none;
}

.aside__input {
  padding: 0.5rem;
}

.aside__submit {
  padding: 0.5rem;
  background-color: var(--primary_color);
  color: var(--background_color);
  cursor: pointer;
}

.aside__section {
  padding: 0 1rem;
}
.aside__section:last-child {
  padding: 0 1rem var(--vertical) 1rem;
}

.aside__title {
  margin-bottom: 0.5rem;
}

.aside__posts {
  list-style: none;
  display: grid;
  row-gap: 0.5rem;
}
.aside__posts li {
  border-bottom: solid var(--dark_gray_color) 0.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0.1rem 0;
}
.aside__posts a {
  color: var(--dark_gray_color);
}

.aside__photos {
  list-style: none;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
}

.aside__video {
  width: 100%;
  height: auto;
}

/*------------------------------ .footer --------------------------*/
.footer {
  margin-top: 2rem;
  background-color: var(--light_gray_color);
  padding: var(--vertical) var(--lateral);
}
.footer p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark_gray_color);
  letter-spacing: 0.2rem;
  font-family: var(--primary_font);
  text-align: center;
}

/*------------------------------ .post__comments --------------------------*/
.post__comments {
  display: grid;
  gap: var(--vertical) var(--lateral);
  grid-auto-rows: max-content;
}

.post__comments__title {
  margin-bottom: 1rem;
}

/*------------------------------ .comment --------------------------*/
.comment {
  padding-left: var(--lateral);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
  gap: 1rem;
}

.comment__photo {
  width: 5rem;
  aspect-ratio: 1 / 1;
  grid-row: 1;
  grid-column: 1;
}

.comment__user {
  grid-row: 1;
  grid-column: 2;
}

.comment__user__loading {
  width: 30%;
  height: 2rem;
}

.comment__comment {
  grid-row: 1;
  grid-column: 2;
  margin-top: 3rem;
}

.comment__comment__loading {
  width: 100%;
  height: 5rem;
}
